<main class="contenedor-principal">

  @if (!usuarioActualId()) {
    <app-login (loginExitoso)="iniciarSesion($event)"></app-login>
  } @else {

    <nav class="navegacion-tabs">
      <button [class.activo]="vistaActual() === 'Pronósticos'" (click)="cargarPronosticos()">Pronósticos</button>

      <button [class.activo]="vistaActual() === 'Ranking'" (click)="cargarRanking()">Ranking</button>

      <button [class.activo]="vistaActual() === 'Grupos'" (click)="vistaActual.set('Grupos')">Grupos</button>

      @if (usuarioActualId() === 1) {
        <button [class.activo]="vistaActual() === 'admin'" (click)="vistaActual.set('admin')">Admin</button>
      }
      <button class="btn-pin" style="margin-left: auto;" (click)="abrirModalPin()">🔑</button>
      <button class="btn-logout" style="margin-left: 0;" (click)="cerrarSesion()">Salir</button>
    </nav>

    @if (vistaActual() === 'Pronósticos') {

      <div class="filtro-grupos">
        @for (dia of diasDisponibles(); track dia) {
          <button
            class="btn-filtro"
            [class.activo]="diaSeleccionado() === dia"
            (click)="seleccionarDia(dia, $event)"> {{ dia | titlecase }}
          </button>
        }
      </div>

      <div class="lista-partidos">
        @for (partido of partidosFiltrados(); track partido.id) {
          <app-match-card
            [partido]="partido"
            (votoEmitido)="registrarVoto($event, partido.id)">
          </app-match-card>
        } @empty {
          <p class="mensaje-vacio">No hay partidos disponibles para este filtro.</p>
        }
      </div>
    }

    @if (vistaActual() === 'Ranking') {
      <div class="tabla-ranking">
        <h2>Tabla de Posiciones</h2>
        @for (usuario of listaRanking(); track usuario.nombre; let i = $index) {
          <div class="fila-ranking" [class.primer-lugar]="i === 0">
            <span class="posicion">
              @if (i === 0) { 🥇 }
              @else if (i === 1) { 🥈 }
              @else if (i === 2) { 🥉 }
              @else { {{ i + 1 }} }
            </span>

            <span class="avatar-ranking">{{ usuario.avatar }}</span>
            <span class="nombre-ranking">{{ usuario.nombre }}</span>
            <span class="puntos-ranking">{{ usuario.puntos }} pts</span>
          </div>
        }
      </div>
    }

    @if (vistaActual() === 'Grupos') {
      <div class="contenedor-vista-grupos">
        <h2 style="text-align: center; color: #ffd700; margin-bottom: 20px;">Fase de Grupos</h2>

        <div class="grid-grupos">
          @for (grupo of gruposMundial(); track grupo.nombre) {
            <div class="tarjeta-fase-grupo">
              <div class="header-fase-grupo">{{ grupo.nombre }}</div>
              <div class="lista-equipos-fase">
                @for (eq of grupo.equipos; track eq.id) {
                  <div class="item-equipo-fase">
                    <img [src]="eq.bandera" class="bandera-mini" alt="bandera">
                    <span>{{ eq.nombre }}</span>
                  </div>
                }
              </div>
            </div>
          }
        </div>
      </div>
    }

    @if (vistaActual() === 'admin') {
      <app-admin></app-admin>
    }

    <div class="toast-notificacion" [class.visible]="mostrarToast()">
      {{ toastMensaje() }}
    </div>

    @if (mostrarModalPin()) {
      <div class="modal-overlay">
        <div class="modal-contenido">
          <h2>Cambiar mi PIN</h2>

          <div class="grupo-input">
            <label>PIN Actual</label>
            <input type="number" [(ngModel)]="pinActual" placeholder="****" class="input-modal">
          </div>

          <div class="grupo-input">
            <label>Nuevo PIN</label>
            <input type="number" [(ngModel)]="pinNuevo" placeholder="****" class="input-modal">
          </div>

          <div class="modal-botones">
            <button class="btn-cancelar" (click)="mostrarModalPin.set(false)">Cancelar</button>
            <button class="btn-guardar" (click)="guardarNuevoPin()">Actualizar</button>
          </div>
        </div>
      </div>
    }
  }

  @if (loader.cargando()) {
    <div class="pantalla-carga">
      <div class="spinner-neon"></div>
      <p>Cargando..</p>
    </div>
  }
</main>
